<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter MusicXML to ABC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Converter MusicXML to ABC</h1>

    <form id="upload-form" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="file" accept=".musicxml,.xml" required>
        <button type="submit">Convert to ABC</button>
    </form>

    <div id="container">
        <!-- Panel de texto ABC -->
        <div class="panel">
            <!-- Área de texto editable para el contenido ABC -->
            <textarea id="abc-text" rows="20" style="width: 100%;"></textarea>

            <!-- Botón "Update" para enviar los cambios del área de texto -->
            <button id="update-btn" style="margin-top: 10px;">Update</button>
        </div>

        <!-- Panel de visualización de partitura ABC -->
        <div class="panel" id="abc-render"></div>
    </div>

    <script type="module" src="/static/js/xmltoabc.js"></script>
    ></script>
</body>
</html>
