<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canvas</title>
  <script src="https://cdn.jsdelivr.net/npm/abcjs@6.4.4/dist/abcjs-basic-min.js"></script>
  <!-- Línea divisoria <script src="/static/js/canvas.js" defer></script>-->
  <link rel="stylesheet" href="/static/css/canvas.css">
</head>
<body>
  <div id="container">
    <!-- Sección del chat -->
    <div id="sidebar">
      <div id="chatbox"></div>
      <div id="input-section">
        <textarea id="question" rows="6" placeholder="Ask a question..."></textarea>
        <button id="send-btn">Send</button>
      </div>
    </div>

    <!-- Línea divisoria -->
    <div class="divider"></div>

    <!-- Sección de la partitura -->
    <div id="canvas-section">
      <div id="abc-render">
        <!-- Aquí se renderizará la partitura -->
      </div>
    </div>
  </div>
</body>
<script type="module" src="/static/js/canvas.js"></script>
</html>