/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
}
h1 {
    color: #2c3e50;
    margin-top: 20px;
    font-size: 2em;
}

/* Estilo del formulario */
#upload-form {
    background-color: #fff;
    padding: 15px 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
#upload-form label {
    font-weight: bold;
    color: #2c3e50;
}
#upload-form input[type="file"] {
    margin: 10px 0;
}
#upload-form button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#upload-form button:hover {
    background-color: #2980b9;
}

/* Estilo de los contenedores */
#container {
    display: flex;
    flex-direction: column; /* Cambia a formato vertical */
    gap: 20px; /* Espacio entre los paneles */
    width: 100%;
    padding: 20px;
}
.panel {
    width: 45%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

/*=====================================================================================*/
#abc-text {
    white-space: pre-wrap;
    border: 1px solid #d0d7de;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
    font-family: monospace;
    color: #2c3e50;
    background-color: #f9fafb;
}

/**/

#abc-render {
    width: 100%; /* Ajusta al ancho disponible */
    min-height: auto; /* Elimina cualquier restricción de altura fija */
    max-height: none; /* Permite crecer sin límites */
    overflow: visible; /* Asegura que todo el contenido sea visible */
    position: relative; /* Asegura un contexto correcto para renderizado */
    padding: 10px;
    background-color: #fff; /* Asegura que el fondo sea blanco para el PDF */
}

/*=====================================================================================*/


/* Área de texto ABC (Editor) */
.abc-editor {
    width: 100%; /* Ocupa todo el ancho */
    min-height: 150px; /* Altura mínima */
    background-color: #f9f9f9; /* Fondo claro */
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Panel de visualización de la partitura */
.abc-notation {
    width: 100%; /* Ocupa todo el ancho */
    min-height: 300px; /* Altura mínima */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}


/* Efectos y mejoras visuales */
* {
    box-sizing: border-box;
}
#abc-render svg {
    max-width: 100%;
    background-color: #fff; /*Fons blanc*/
}


